In [3]:
m=1
for el  in my_list :
  m=m*el
print(m)

15120

In [5]:
maliste= [(2,5),(1,2),(4,4),(2,3),(2,1)]
maliste.sort()
print(maliste)

[(1, 2), (2, 1), (2, 3), (2, 5), (4, 4)]

In [18]:
d1 = {"a":100 , "b":200 , "c" : 300}
d2 = {"a":300, "b":200 , "d":300}
d3={}
for i in d1:
  if i in d2:
    d3[i]=d1[i]+d2[i]
  else:
     d3[i]=d1[i]
for i in d2:
  if i not in d1:
    d3[i]=d2[i]
print (d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 300}

In [28]:
x= int(input("entrer la valeur"))
d1={}
for i in range(1,x+1):

  d1[i]= i*i
print (d1)

entrer la valeur5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}